/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-variable: "Inter-Variable", sans-serif;
  --font-regular: "PressStart2P-Regular", sans-serif;
  --font-weight--common: 400;
  --font-weight--card-header: 700;
  --font-size--card-logo: 14px;
  --min-width: 375px;
  --max-width: 1440px;
  --width-header: 100%;
  --font-size--logo: 49px;
  --font-size--h1: 14px;
  --background-image: url("../images/375x667_background.png");
  --like-background-color: #fff;
  --text-stroke: #fff;
  --accent-color: #000;
  --contour-color: black;
  --animation-fill-color: #FF0000;
  --main-body-color: black;
  --core-color: #fff;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}
